
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFF7E4;
    color: #333;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFF7E4;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.main-header h1 {
    font-size: 2em;
    margin: 0;
    color: rgb(0, 0, 0);
}

.main-nav a, .donate-button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #B3D9FF;
}

.hero img {
    max-width: 50%;
    border-radius: 10px;
}

/* Articles */
.articles {
    background: #FFF7E4;
    padding: 20px;
    box-sizing: border-box;
}

.article-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    white-space: nowrap;
    width: 100%;
}

.article-scroll::-webkit-scrollbar {
    height: 8px;
}

.article-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.article-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.article {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.article img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.article h3 {
    font-size: 18px;
    margin: 10px 0;
}

.article p {
    font-size: 14px;
    color: #555;
}

/* Footer */
footer.main-footer {
    text-align: center;
    padding: 10px;
    background: #A8D5BA;
    color: white;
}
